@{
    ViewData["Title"] = "Home Page";
}

<section class="u-clearfix u-image u-section-1" id="carousel_a855" >
    <div class="u-clearfix u-sheet u-sheet-1">
        <img src="/images/background.jpg" style="width:100%"/>
    </div>
</section>
<section class="u-clearfix u-palette-3-base u-section-2" id="carousel_0528">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                        <img src="~/images/h1.jpg" alt="" class="u-expanded-width u-image u-image-default u-image-1">
                        <h5 class="u-text u-text-1">hotel1&nbsp;</h5>
                        <p class="u-text u-text-2">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                        <h4 class="u-text u-text-3">$ 600</h4>
                        <a href="https://nicepage.com/k/auction-website-templates" class="u-black u-btn u-button-style u-btn-1">Book now</a>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                        <img src="~/images/h2.jpg" alt="" class="u-expanded-width u-image u-image-default u-image-2">
                        <h5 class="u-text u-text-4">hotel2</h5>
                        <p class="u-text u-text-5">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                        <h4 class="u-text u-text-6">$ 800</h4>
                        <a href="https://nicepage.com/c/full-width-slider-html-templates" class="u-black u-btn u-button-style u-btn-2">book now</a>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                        <img src="~/images/h3.jpg" alt="" class="u-expanded-width u-image u-image-default u-image-3">
                        <h5 class="u-text u-text-7">hotel3</h5>
                        <p class="u-text u-text-8">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                        <h4 class="u-text u-text-9">$ 700</h4>
                        <a href="https://nicepage.com/c/testimonials-html-templates" class="u-black u-btn u-button-style u-btn-3">book now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-align-left u-clearfix u-section-3" id="carousel_5bd5">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-1">Destaques</h1>
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-valign-bottom-xl u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-1">
                        <img src="~/images/h4.jpg" alt="" class="u-image u-image-default u-image-1">
                        <div class="u-container-style u-group u-group-1">
                            <div class="u-container-layout u-valign-top u-container-layout-2">
                                <h4 class="u-text u-text-2">hotel4</h4>
                                <p class="u-text u-text-3">SAMPLE TEXT&nbsp;</p>
                                <a href="https://nicepage.com/joomla-page-builder" class="u-black u-btn u-button-style u-custom-font u-heading-font u-btn-1">learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-valign-bottom-xl u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-3">
                        <img src="~/images/h5.jpg" alt="" class="u-image u-image-default u-image-2">
                        <div class="u-container-style u-group u-group-2">
                            <div class="u-container-layout u-valign-top u-container-layout-4">
                                <h4 class="u-text u-text-default u-text-4">hotel5</h4>
                                <p class="u-text u-text-5">SAMPLE TEXT</p>
                                <a href="https://nicepage.com/c/art-design-html-templates" class="u-black u-btn u-button-style u-custom-font u-heading-font u-btn-2">learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<link href="~/css/Página-Inicial.css" rel="stylesheet" />
